/* Genegal styles */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px;
}

/* Header block */
.header {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto 20px;
}
.header-logo {
    padding-top: 40px;
    padding-bottom: 258px;
}
.header-h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 5.71px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: -5px;
}
.header-p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 225px;
    margin-top: 0;
}
.header-h5 {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 5.71px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 51px;
    margin: 0 auto;
}

/* Navbar block */
.navbar {

}
.navbar:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
    display: block;
    margin: 0 auto -27px;
}
.navbar-flex {
    display: flex;
    justify-content: space-between;
}
.navbar-img {
}
.navbar-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #48555B;
    font-size: 12px;
}
.navbar-list__li {
    margin-right: 48px;
}
.navbar-list__li:nth-child(5){
    margin-right: 0;
}
.navbar-list__li:hover {
    color: #00A4E5;
}
.open {
    display: flex !important;
}
.wrapper {
    flex-grow: 1;
}
.sidebar {
    display: none;
}
.burger {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}
.burger span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #48555B;
}
.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #48555B;
    transition: all 0.3s ease 0s;
}
.burger::after {
    width: 70%;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }

/* "Our story" block */
.story {
    padding: 50px 0;
}
.story-h2 {
    letter-spacing: 0.2em;
    color: #48555B;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 30px 0;
}
.story_title_h2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto;
    margin-bottom: -11px;
}

.story-flex{
    display: flex;
    justify-content: center;
}
.story-flex__left {
    max-width: 400px;
    margin-right: 50px;
}
.story-h3 {
    color: #48555B;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 31px;
}
.accent-color {
    color: #00A4E5;
}
.story-text {
    color: #48555B;
    font-size: 13px;
    letter-spacing: 0.19px;
}
.story-flex__right {
    display: flex;
    align-items: flex-end;
}
.story-flex__right__item {
    padding: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
    background-size: cover;
}
.story-flex__right__item:nth-child(1){
    background-image: url(../img/we_plan.png);
}
.story-flex__right__item:nth-child(2){
    background-image: url(../img/we_manage.png);
}
.story-flex__right__item:nth-child(3){
    background-image: url(../img/we_build.png);
    margin-right: 0;
}

/* Our Capabilities block */

.services {
}
.services-flex__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 76px;
}
.services-flex__item {
    display: flex;
    align-items: center; 
}
.services-flex_item {
}
.services-h3 {
    font-size: 18px;
    letter-spacing: 0.2em;
    color: #48555B;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}
.services-h3_line:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin-top: 10px;
}
.services-h3__item {
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #48555B;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 13px;
}
.services-p__up {
    color: #48555B;
    font-size: 11px;
    letter-spacing: 0.2px;
    margin-right: 35px;
    max-width: 500px;
}
.services-p {
    color: #48555B;
    font-size: 13px;
    letter-spacing: 0.19px;
}
.button {
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    background-color: #00A4E5;
    width: 150px;
    height: 40px;
    border-style: none;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    padding: 0 1px 0 1px;
    margin: 0 0 115px 0;
}
.services-grid__item {
    padding: 37px 20px 0 22px;
    border: 1px solid #E6E6E6;
    max-height: 330px;
}

.services-img {
    width: 65.62px;
    height: 75px;
    margin-bottom: 10px;
}

/* Get In Touch block */
.get-in-touch {
    width: 100%;
    height: 498px;
    background-image: url(../img/get_in_touch_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}
.get-in-touch-h2 {
    font-size: 30px;
    letter-spacing: 0.15px;
    color: #48555B;
    font-weight: bold;
    margin-bottom: 35px;
    padding-top: 120px;
}

/* Newsletter block */
.newsletter {
    background: #171819;
}
.newsletter-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 129px;
}
.newsletter-h3 {
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.846px;
    padding: 6px 0 0 0;
}
.newsletter-form {
    display: flex;
}
.form__email {
    border: none;
    width: 250px;
    height: 40px;
    color: #48555B;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding-left: 18px;
}

/* Info block */
.info {
    background-color: #141A20;
    padding: 42px 0;
}
.info__flex {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.info-first {
    max-width: 250px;
}
.info-second {
    display: flex;
}
.info-second .info-flex__items {
    margin-right: 34px;
}
.info-second .info-flex__items:last-child {
    margin-right: 0;
}
.info-third {
    max-width: 140px;
}
.info-p {
    color: #FFF;
    font-size: 11px;
}
.info-fourth {
    display: flex;
}
.info-img {
    /* делаем иконки в svg белыми */
    filter: brightness(0) invert(1);
    margin-right: 10px;
}
.info-img:nth-child(3){
    margin-right: 0;
}

/* Footer block */
.footer {
    background-color: #171819;
}
.footer-p {
    text-align: center;
    padding: 22px 0;
    margin: -10px 0;
    letter-spacing: 0.85px;
}

/* 1440, 1380-1280, 1024-992, 820, 768, 540, 440, 320 */

@media screen and (max-width: 1440px) {
    .container {
        padding: 0 50px;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
    .story-flex{
        flex-wrap: wrap;
        /* text-align: center; */
    }
    .newsletter-flex {
        margin: -10px 0;
    }
}

@media screen and (max-width: 940px) {
    .story-flex, 
    .services-flex__items,
    .newsletter-flex  {
        flex-direction: column;
        align-items: center;
    }
    .services-h3_line:after {
        margin: 15px auto 0;
    }
    .story-flex__left {
        margin-bottom: 25px;
    }
    .services-grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }
    .services-grid__item {
        max-width: 400px;
        /* height: 250px; */
        margin: 0 auto;
        padding: 20px;
    }  
}
@media screen and (max-width: 820px) {
    .info__flex {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
    }
    .info-second {
        align-items: center;
    }
}
@media screen and (max-width: 700px) {
    /* sidebar styles */
    .navbar:after {
        margin-top: 15px;
    }
    .navbar-list {
        display: none;
    } 
    .burger { 
        display: flex; 
    }
    .sidebar {
        flex-direction: column;
        position: fixed;
        height: auto;
        width: 50%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: white;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.65);
    }
    .sidebar__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sidebar-burger {
        border: none;
        background-color: var(--color-white);
        color: #48555B;
        font-size: 40px;
        font-weight: 400;
    }
    .sidebar__flex::after {
        position: absolute;
        content: '';
        width: 250px;
        height: 2px;
        background-color: #E6E6E6;
        display: block;
        margin: 0 auto;
        margin-bottom: -70px;
    }
    .sidebar ul{
        flex-direction: column;
    }
    .sidebar ul li {
        list-style: none;
    }
    .sidebar ul li a {
        color: #48555B;
        font-size: 22px;
        text-decoration: none;
        font-weight: 500;
        line-height: 60px;
    }
    /* end of sidebar styles */
    .services-flex__items .services-flex__item:last-child {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .newsletter-flex {
        padding: 0 0 35px 0;
    }
}

@media screen and (max-width: 540px) {
    .story-flex__right{
        flex-wrap: wrap;
        justify-content: center;
    }
    .story-flex__right__item {
        margin-bottom: 20px;
    }
    .story-flex__right__item:nth-child(3){
        margin-bottom: 0;
    }
    .newsletter-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}